<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>ToDoアプリ</title>
  <script src="https://unpkg.com/vue@next"></script>
  <link rel="stylesheet" href="main.css">
</head>
<body>
<h1>ToDo app</h1>

<div id="app">

  <p>
    <input v-model="newTodo" class="newtodo">
    <button @click="addTodo">Add Todo</button>
  </p>

  <div v-for="(todo,n) in todos">
    <ul>
      <li>
        <template v-if="editIndex === n">
          <input v-model="editedTodo">
          <button @click="updateTodo(n)">Update</button>
        </template>
        <template v-else>
          <span class="todo">{{ todo }}</span>
          <button @click="editTodo(todo, n)">Edit</button>
          <button @click="removeTodo(n)">Remove</button>
        </template>
      </li>
    </ul>
  </div>

</div>

<script src="main.js"></script>
</body>
</html>
